.menu-list{
    list-style: none;
    display: flex;
}

.menu-list li{
    margin: 25px 50px;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
}

.menu-list li:hover{
    color: #FCC647;
    transition: 300ms;
    border-bottom: 3px solid #FCC647;
}

.loggo{
    font-size: 32px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    align-items: center;
}


.span{
    background-color: #FFF2D4;
    color: #FCC647;
    padding: 8px 8px 8px 8px;
}

.buttons{
    display: flex;
    margin-top: 30px;
    width: 48%;
    justify-content: space-between;
}

.btn{
    padding: 10px 20px;
    background-color: #FCC647;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 15px 40px #F9D58040;
}

.btn-outline{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-outline img{
    background-color: white;
    padding: 10px;
    border-radius: 100%;
    box-shadow: 0px 15px 40px #F9D58040;
}

.logo span{
    color: #FCC647;
}


.m{
    display: flex;
}

span{
    color: #FCC647;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.navbar{
    background-color: #FFFBF3;
    padding-bottom: 100px;
}

.m-text, .m-img{
    width: 50%;
}

.m-text{
    padding-top: 100px;
}

.hashtag{
    background-color: #FFF2D4;
    padding: 10px 15px;
    border-radius: 7px;
}

.m-text h1{
    font-size: 48px;
    margin: 20px 0px 35px 0px;
}

.m-text p{
    color: #667085;
    font-size: 16px;
    line-height: 32px;
}

.works h1{
    color: #3C3C3C;
    font-size: 36px;
    line-height: 48px;
}

.works> p{
    width: 45%;
    margin-left: 350px;
}
.works{
    margin-top: 80px;
    text-align: center;
}

.order img{
    background-color: #335DFF;
    padding: 23px 19px;
    border: 1px;
    border-radius: 100%;
}

.order h4{
    margin-top: 30px;
}

.order p{
    width: 80%;
    margin-top: 15px;
    margin-left: 50px;
}

.order{
    margin-top: 100px;
}

.get{
    margin-top: 140px;
}

.get img{
    background-color: #F6CA00;
    border-radius: 100%;
    padding: 30px 17px;
    border: 1px;
}

.get h4{
    margin-top: 30px; 
}

.get p{
    width: 80%;
    margin-top: 15px;
    margin-left: 50px;
}

h4{
    color: #3C3C3C;
    font-size: 20px;
    line-height: 32px;  
}

p{
    color: #667085;
    font-size: 14px;
    line-height: 27px;    
}

.payment{
    margin-top: 100px;
}

.payment img{
    background-color: #0BD28E;
    border-radius: 100%;
    padding: 15px 17px;
    border: 1px;
}

.payment p{
    width: 80%;
    margin-top: 15px;
    margin-left: 50px;
}

.icons{
    display: flex;
}