@media(max-width: 1080px){
    .m-text{
        width: 100%;
        
    }

    .m-img{
        width: 0;
    }

    .menu-list{
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        background-color: #FCC647;
        width: 300px;
        height: 100vh;
        margin: 0;
        transform: translateX(-100%);
    }

    .navbar .menu-list li:hover{
        color: white;
        border-bottom: 4px solid white;
    }
}