@media(max-width: 1080px){
    .m-text{
        width: 100%;
        
    }

    .m-img{
        display: none;
    }

    .menu-list{
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        background-color: #FCC647;
        width: 300px;
        height: 100vh;
        margin: 0;
        transform: translateX(-100%);
        font-size: 24px;
        z-index: 100;
        justify-content: start;
        padding: 50px 0;
    }

    .navbar .menu-list li:hover{
        color: white;
        border-bottom: 4px solid white;
    }

    .navbar .menu-list li{
        border-bottom: 4px solid transparent; 
    }

    .works p{
        text-align: center;
    }

    .works{
        flex-direction: column;
    }

    .fast-delivery-text{
        width: 100%;
    }

    .fast-delivery-img{
        display: none;
      }

      .card-grid {
        grid-template-columns: repeat(3, 1fr);
      }

      .card-contact {
        flex-direction: column;
        gap: 60px;
        padding: 50px;
     }

     .to-get-text{
        width: 100%;
     }

     .to-get-img{
        display: none;
     }

     footer .tammyfood{
        grid-template-columns: 1fr;
      }

      .mail span{
        font-size: 25px;
      }

      .call span{
        font-size: 25px;
      }
      
    }